body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: #ffffff;
    color: #434455;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Header-styles */

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo:hover:focus {
    color: #404bbf;
}


.logo-studio {
    color: #2e2f42;
}

.header-list {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
}

.contacts-list {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    font-style: normal;
}

.contacts-list:hover:focus {
    color: #404bbf;
}

/* Hero-styles */

.hero {
    background-color: rgb(46, 47, 66); 
}

.hero-text {
    color: rgb(255, 255, 255);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-button {
    background: #4D5AE5;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    outline: none;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* Benefits-styles */

.benefits-text {
    visibility: hidden;
}

.benefit {
    color: rgb(46, 47, 66);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    list-style-type: none;
}

.benefit-text {
    color: rgb(67, 68, 85);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Team-styles */

.team {
    background-color: #F4F4FD;
}

.team-list {
    background-color: #FFFFFF;
}

.team-text {
    color: rgb(46, 47, 66);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.member-name {
    color: rgb(46, 47, 66);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.specialization {
    color: rgb(67, 68, 85);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Portfolio-styles */

.portfolio {
    background-color: #ffffff; 
}

.portfolio-text {
    color: rgb(46, 47, 66);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.sample-name {
    color: rgb(46, 47, 66);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.sample-type {
    color: rgb(67, 68, 85);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Footer-styles */

.footer {
    background-color: rgb(46, 47, 66);
}

.footer-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-web {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-slogan {
    color: rgb(244, 244, 253);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}